@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow: hidden;
}

.app-main {
  padding: 16px;
}

.full-width {
  width: 100%;
}
