@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import "tailwindcss";

@theme {
  --color-brand-bg: #120E16;
  --color-brand-mint: #31DDAB;
  --color-brand-purple: #621E95;
  --font-sans: 'Space Mono', monospace;
}

@layer base {
  body {
    @apply bg-brand-bg;
    font-family: 'Space Mono', monospace;
  }
}

